<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="BackupFolder" value="e:\backup\rdb2\"/>
        <add key="BackupDateFormat" value="ddMMyyyy"/>
    </appSettings>
    <connectionStrings>
        <add name="ravendb" connectionString="Url=http://localhost:8086;Database=Correspondence" />
    </connectionStrings>
</configuration>